<main>
  <div class="container mt-4">
    <h1 i18n class="text-center">Create a new Museum</h1>
    <form
      [formGroup]="museumForm"
      (ngSubmit)="!museumForm.invalid && createMuseum(museumForm.value)"
    >
      <!--Name-->
      <div class="form-group mx-sm-3 mb-2">
        <label i18n for="name">Name</label>
        <input
          novalidate
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Museum's name"
        />
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            museumForm.get('name')!.hasError('required') &&
            museumForm.get('name')!.touched
          "
        >
          Name required
        </div>
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('name')!.hasError('minlength')"
        >
          Name too short
        </div>
      </div>

      <!--Description-->
      <div class="form-group mx-sm-3 mb-2">
        <label i18n for="description">Description</label>
        <input
          novalidate
          id="description"
          class="form-control"
          formControlName="description"
          placeholder="Museum's short description"
        />
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
          museumForm.get('description')!.hasError('required') &&
          museumForm.get('description')!.touched
          "
        >
          Description required
        </div>
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('description')!.hasError('maxlength')"
        >
          Description too long
        </div>
      </div>

      <!--Address-->
      <div class="form-group mx-sm-3 mb-2">
        <label i18n for="address">Address</label>
        <input
          novalidate
          id="address"
          class="form-control"
          formControlName="address"
          placeholder="Address"
        />
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            museumForm.get('address')!.hasError('required') &&
            museumForm.get('address')!.touched
          "
        >
          Address required
        </div>
      </div>

      <!--City-->
      <div class="form-group mx-sm-3 mb-2">
        <label i18n for="city">City</label>
        <input
          novalidate
          id="city"
          class="form-control"
          formControlName="city"
          placeholder="City"
        />
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            museumForm.get('city')!.hasError('required') &&
            museumForm.get('city')!.touched
          "
        >
          City required
        </div>
      </div>


      <!--Image-->
      <div class="form-group mx-sm-3 mb-2">
        <label i18n for="image">Image</label>
        <input
          novalidate
          id="image"
          class="form-control"
          formControlName="image"
          placeholder="URL with Museum's image"
        />
        <div
          i18n
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
          museumForm.get('image')!.hasError('required') &&
          museumForm.get('image')!.touched
          "
        >
          Image required
        </div>
      </div>

      <button
        i18n
        type="submit"
        class="btn btn-primary"
        [disabled]="!museumForm.valid"
      >
        Create
      </button>
      <button
        i18n
        type="button"
        class="btn btn-danger ml-3"
        (click)="cancelCreation()"
      >
        Cancel
      </button>
    </form>
  </div>
</main>

