<main>
  <div class="container-fluid">
    <div class="row">
      <h1 i18n>Exhibition Detailed</h1>
    </div>
    <div class="row">
      <div class="card p-2" style="width: 30rem; height: auto">
        <div class="card-body">
          <h2 class="card-title">{{ mainExi.name }}</h2>
          <p class="card-text"><strong i18n>Description:</strong> [{{ mainExi.description }}]</p>
        </div>
      </div>
    </div>

    <h3 i18n>Art Works</h3>
    <div class="row">
      <div class="list-group">
        <div *ngFor="let artwork of artworks" class="col mb-2">
          <a  class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">{{artwork.name}}</h4>
              <small><strong i18n>Year:</strong> {{artwork.year}}</small>
            </div>
            <p class="mb-1"><strong i18n>Description:</strong> {{artwork.description}}</p>
            <small><strong i18n>Type:</strong> {{artwork.type}}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
